.footer {
  background: linear-gradient(to right, #5240B4, #B596FD);
  color: #ffffff;
  text-align: center;
  padding: 40px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
}
.footer__logo {
  
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  flex-direction: column;
}

.footer__logo h2 {
  font-size: 18px;
  font-weight: 300;
}

.footer__logo img {
  width: 100px;
  height: auto;
}

.footer__info{
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-self: center;
}



.footer .bottom-text {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  
  gap: 30px;
  max-width: 160px;
}

.footer p {
  opacity: 0.7;
}

