@media (max-width: 880px) {
  .header {
    padding: 24px 50px;
    background: transparent;
    box-shadow: none;
  }
  .header.activeScroll:not(.active) {
    background: linear-gradient(to left, #47D0FF, #B697FF);
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  }
  
  .header__burger {
    display: block;
    color: #fff;
  }
  .header__nav {
    display: none; 
    transition: 0.5s linear;
  }
  .header__menu {
    flex-direction: column;
    gap: 10px;
  }
  .header.active {
    background: linear-gradient(to left, #47D0FF, #B697FF);
  }
  .header__nav.active {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(to left, #47D0FF, #B697FF);
    padding: 20px 0;
    transition: 0.5s linear;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  }

  .header__menu {
    flex-direction: column;
    align-items: center;
  }
}