@import url('./footer.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./video-section.css');
@import url('./text-section.css');

@import url('./video-section.mobile.css');
@import url('./hero.mobile.css'); 
@import url('./footer.mobile.css');
@import url('./text-section.mobile.css');
@import url('./header.mobile.css');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans 3", sans-serif;
  line-height: 1.5;
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}