@media (max-width: 880px) {
  .video-section {
    padding: 0;
  }
  .video-section__title {
    font-size: 37px;
    line-height: 53px;
  }
}
@media screen and (max-width: 1150px) {
  .video-content {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border-radius: 12px;
  }
}
